<%= render partial:'book', locals: {user: @user,profile_image: @profile_image,book: @book }%>

  <div class="col-md-8 offset-md-1">
<h2>Book detail</h2>

<table class="table table-hover table-inverse">

<tbody>
  <tr>
    <td><%= image_tag @books.user.get_profile_image %></td>
    <td><%= @books.title %></td>
    <td><%= @books.body %></td>
    <td>
      <% if @books.user == current_user %>
        <%= button_to 'Edit' ,{controller:'books',action:'edit'} , {method: :get}%></td>
      <% end %>
    <td>
      <% if @books.user == current_user %>
        <%= button_to "Destroy", book_path(@books), method: :delete %>
      <% end %>
    </td>
  </tr>
</tbody>

</table>
      </div>
  </div>
</div>
</div>